<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Subscrr/

    # Melewatkan file dan folder asli yang ada di server
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Mengarahkan semua request lain ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>